<div id="<%= dom_id question %>">
  <p>
    <strong>Sentence:</strong>
    <%= question.sentence %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= question.subject_id %>
  </p>

  <p>
    <strong>Field:</strong>
    <%= question.field_id %>
  </p>

</div>
