<h2>分野を選択してください</h2>
    <p><%= @kamoku.name %></p>


    <%= form_with url:"/exams/create",local: true do |f| %>
        <%= f.collection_select(:b_code,@bunya,:id,:field_name) %>
        <%= f.submit "選択" %>
    <% end %>
