<h2>分野を選択してください</h2>
    <p><%= @kamoku.name %></p>


    <%= form_with url:"/select/test",local: true do |f| %>
        <%= f.collection_select(:b_code,@bunya,:id,:f_name) %>
        <%= f.submit %>
    <% end %>
