<div id="<%= dom_id result %>">
  <p>
    <strong>Record:</strong>
    <%= result.record_id %>
  </p>

  <p>
    <strong>Q code:</strong>
    <%= result.q_code %>
  </p>

  <p>
    <strong>User answer:</strong>
    <%= result.user_answer %>
  </p>

</div>
