<div id="<%= dom_id result %>">
  <p>
    <strong>Record:</strong>
    <%= result.record_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= result.question_id %>
  </p>

  <p>
    <strong>User answer:</strong>
    <%= result.user_answer %>
  </p>

</div>
