<div id="<%= dom_id result %>">
  <p>
    <strong>Rec code:</strong>
    <%= result.rec_code %>
  </p>

  <p>
    <strong>Q code:</strong>
    <%= result.q_code %>
  </p>

  <p>
    <strong>User answer:</strong>
    <%= result.user_answer %>
  </p>

</div>
