<p><%= @exam.exam_no %>     <%= @exam.sentence %></p>

<% @choices.each do |choice| %>
    <% id =  choice.id %>
    <%= button_to choice.choice, {controller: 'exams', action: 'answer', params:{id: id }} %>
<% end %>

