<p><%= @msg %></p>

<%= form_with model: @field do |form| %>
    <table class="field">
        <tr>
            <th><label for="subject_code">科目コード</label></th>
            <td><input type = "text" class="s_code" name="subject_code"></td>
        </tr>
        <tr>
            <th><label for="f_code">分野コード</label></th>
            <td><input type = "text" class="f_code" name="f_code"></td>
        </tr>
        <tr>
            <th><label for="f_name">分野名</label></th>
            <td><input type = "text" class="f_name" name="f_name"></td>
        </tr>
    </table>
    <input type = "submit">
<% end %>
