<p><%= @msg %></p>
<table class="table">
    <tr>
        <th>科目コード</th>
        <td><%= @data.subject_code %></td>
    </tr>
    <tr>
        <th>分野コード</th>
        <td><%= @data.f_code %></td>
    </tr>
    <tr>
        <th>分野名</th>
        <td><%= @data.f_name %></td>
    <tr>
</table>